# ____REMOVE THIS LINE AFTER RENAMING sample.env to .env ____
HOBBIES = 'CODING'
LANGUAGE = 'ENGLISH'
OWNER_SKILLS = 'JAVASCRIPT'
OWNER_STATUS = 'DEVELOPER'
OWNER_NAME = 'Powel Dary'
TIME_ZONE = 'Africah/Kenya'
DATABASE_URL = 
REMOVEBG_KEY = 
PREFIX = '.'
MODE = 'private'
statusview = 'true'
BOTNAME = 'Akubrecah-MEGA-AI'
antidelete = 'true'
BOT_NUMBER= '254798497858' 
OWNERS = '254791497858'
SESSION_ID = 
APP_URL =
